html {
    font-size: 62.5%;
}
body {
    background-color: var(--body-color);
}
* {
    box-sizing: border-box;
    font: 400 1.6rem/1.2 'Rubic', sans-serif;
    color: var(--text-color);
}
a {
    color: inherit;
    text-decoration: none;
}
ul {
    padding: 0;
    margin: 0;
    list-style-type: none;
}
h1, h2, h3, h4, h5, p {
    margin: 0;
}
fieldset {
    border: none;
    padding: 0;
    margin: 0;
}
button {
    cursor: pointer;
    border-color: transparent;
}
img {
    display: block;
    width: 100%;
    height: auto;
}
.container {
    max-width: 1300px;
    width: 100%;
    margin: 0 auto;
    padding: 0 15px;
}
.h1-title, .h2-title {
    text-transform: uppercase;
    font-weight: 700;
}
.h1-title {
    font-size: 3.5rem;
}
.h2-title {
    font-size: 2.5rem;
}
.h3-title {
    font-size: 2rem;
    font-weight: 500;
    text-transform: uppercase;
}
.btn {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 3px;
    padding: 10px 15px;
    text-transform: uppercase;
    font-weight: 500;
    &_singIn {
        background-color: var(--btn-in-color);
    }
    &_singUp {
        background-color: var(--btn-reg-color);
    }
}
.field {
    border-radius: 3px;
    border: 1px solid transparent;
    padding: 10px 20px;
    background-color: var(--btn-reg-color);
}
.input-field, .textarea-field {
    width: 100%;
    &::placeholder {
        color: var(--text-color);
    }
}
.textarea-field {
    resize: vertical;
    max-height: 150px;
    min-height: 100px;
}