:root {
    --body-color: #fafafa;
    --text-color: #333;

    --theme-color-1: #adadad;
    --theme-color-2: #fff;

    --btn-in-color: transparent;
    --btn-reg-color: #e1e1f1;

    --input-border-color: #535050;

    --low-priority-color: #65be88;
    --middle-priority-color: #e08b1c;
    --high-priority-color: #e09292;


    --intro-bg-color: #ececf3;
}