<template>
  <AppNav />
  <router-view />
</template>

<script>
import './assets/styles/index.scss'
import AppNav from '@/components/AppNav.vue'
import { mapActions, mapGetters } from 'vuex'
import store from './store'

export default {
  name: 'App',
  data() {
    return {
      isAuthenticated: false
    }
  },
  components: {
    AppNav
  },
  computed: {
    ...mapActions(['isAuth']),
    ...mapGetters(['getUserId'])
  },
  beforeMount() {
    store.dispatch('isAuth')
    if (!this.getUserId) {
      this.$router.push({ name: 'auth' })
    } 
  }
}
</script>

