

<script>

import AppEntryForm from '@/components/AppEntryForm.vue';

export default {
    name: "AuthPage",
    components: { AppEntryForm },
    data() {
        return {
            formData: {
                emailFieldPlaceholder: 'Insert your email',
                passwordFieldPlaceholder: 'Insert your password',
                btnText: 'Sing up',
            }
        }
    },
}

</script>

<template>
    <main id="main">
        <AppEntryForm 
            :data="formData"
        />
    </main>
</template>