<script>

import AppIntro from '@/components/AppIntro.vue'
import PageList from '@/components/PageList.vue'
import introImg from '@/assets/images/home-icon.svg'

export default {
    name: 'IndexPage',
    components: {
        AppIntro,
        PageList
    },
    data() {
        return {
            introData: {
                title: 'Home page',
                text: 'This page contains navigation through the main sections',
                img: introImg
            }
        }
    }
}

</script>

<template>
    <main id="main">
        <AppIntro
            :title="introData.title"
            :text="introData.text" 
            :img="introData.img" 
        />
        <PageList />
    </main>
</template>
