<script>

import AppIntro from '@/components/AppIntro.vue'
import AppList from '@/components/AppList.vue'
import introImg from '@/assets/images/js-icon.svg'

export default {
    name: 'JsPage',
    components: {
        AppIntro,
        AppList,
    },
    data() {
        return {
            introData: {
                title: 'Java Script',
                text: 'This page contains information about java script',
                img: introImg
            }
        }
    },
}

</script>

<template>
    <main id="main">
        <AppIntro
            :title="introData.title"
            :text="introData.text" 
            :img="introData.img" 
        />
        <AppList />
    </main>
</template>