<script>
    import '@/assets/styles/components/entry.scss'
    import store from '@/store'
    import { mapActions, mapGetters } from 'vuex'
   
    export default {
        name: 'AppEntryForm',
        props: {
            data: Object
        },
        data() {
            return {
                form: {
                    email: null,
                    password: null,
                },
                registerForm: {
                    method: 'POST',
                    url: 'http://localhost:5000/api/auth/register',
                },
                loginForm: {
                    method: 'POST',
                    url: 'http://localhost:5000/api/auth/login',
                },
                successfullyСreated: false
            }
        },
        computed: {
            ...mapActions(['request', 'login', 'closeMessageWindow']),
            ...mapGetters(['getMessage'])
        }, 
        methods: {
            async regiserHandler() {
                try {
                    const data = await store.dispatch('request', {
                        url: this.registerForm.url, 
                        method: this.registerForm.method,
                        body: this.form
                    })
                    this.successfullyСreated = true
                    console.log(data);
                } catch(e) {
                    console.log(e);
                }
            },
            async loginHandler() {
                try {
                    const data = await store.dispatch('request', {
                        url: this.loginForm.url, 
                        method: this.loginForm.method,
                        body: this.form
                    })
                    await store.dispatch('login', {
                        token: data.token,
                        id: data.userId,
                        name: this.form.email
                    })
                    this.$router.push({ name: 'main' })
                } catch (e) {
                    console.log(e);
                }
            },
            async closeWindow() {
                store.dispatch('closeMessageWindow')
                if (this.successfullyСreated) {
                    this.loginHandler()
                }
            }
        }
    }
</script>

<template>
    <section class="entry">
        <div class="container">
            <form 
                class="entry__form"
            >
                <fieldset class="entry__fieldset">
                    <label class="entry__label" for="entryEmail">
                        email
                        <input 
                            id="entryEmail" 
                            v-model="form.email"
                            class="field input-field"
                            type="email" 
                            :placeholder="data.emailFieldPlaceholder"
                            autocomplete ="current-password"
                        >
                    </label>
                    <label class="entry__label" for="entryPassword">
                        password
                        <input 
                            id="entryPassword"
                            v-model="form.password"
                            class="field input-field"
                            type="password" 
                            :placeholder="data.passwordFieldPlaceholder"
                            autocomplete ="current-password"
                        >
                    </label>
                </fieldset>
                <button 
                    class="btn btn_signUp" 
                    type="submit"
                    @click.prevent="regiserHandler"
                >
                    Sign Up
                </button>
                <button 
                    @click.prevent="loginHandler"
                    class="btn btn_signIn" 
                    type="submit"
                >
                    Sign In
                </button>
            </form>
        </div>
    </section>

    <div 
        class="message" 
        v-if="this.getMessage">
        <p class="message__text">
            {{ this.getMessage }}
        </p>
        <button 
            @click="this.closeWindow"
            type="button" 
            class="message__btn">
            ok
        </button>
    </div>
</template>
