<script>

import '@/assets/styles/components/intro.scss'

export default {
    name: 'AppIntro',
    props: {
        title: String,
        text: String,
        img: String,
    },
}

</script>

<template>
    <section class="intro">
        <div class="container">
            <img 
                class="intro__img" 
                :src="img" 
                alt="">
            <h1 class="intro__title h1-title">
                {{ title }}
            </h1>
            <p class="intro__description">
                {{ text }}
            </p>
        </div>
    </section>
</template>