<script>

import AppListItem from './AppListItem.vue'
import '@/assets/styles/components/list.scss'
// import store from '@/store'
import { mapActions } from 'vuex'

export default {
    name: 'AppList',
    components: {
        AppListItem
    },
    data() {
        return {
            items: [],
            item: {
                description: '',
                link: '', 
                priority: '' ,
                isReady: false,
                isOpenComment: false,
                comments: [],
                timeOfCreation: new Date().toLocaleString()
            },
            itemPriority: [
                'High',
                'Middle',
                'Low',
            ],
            isSelectVisible: false,
            submitFormData: {
                method: 'POST',
                url: 'http://localhost:5000/api/auth/add-note'
            }
        }  
    },
    computed: {
        ...mapActions(['request'])
    },
    methods: {
        clearValue() {
            this.item.link = ''
            this.item.description = ''
            this.item.priority = ''
            // this.item.timeOfCreation = null
        },
        setItemValue() {
            if (this.item.link !== '' && this.item.description !== '' && this.item.priority !== '') {
                this.item.comments = [];
                const obj = Object.assign({}, this.item)
                this.items.push(obj)
                // this.submitNote()
                this.clearValue()
            }
        },
        toggleSelect() {
            if (this.isSelectVisible) {
             this.removeSelect()   
            } else {
                this.isSelectVisible = true
            }
        },
        setSelectValue(e) {
            this.removeSelect()   
            this.item.priority = e.target.textContent.toLowerCase()
        },
        removeSelect() {
            this.isSelectVisible = false
        },
        removeListItem(i) {
            this.items.splice(i.index, 1)
            this.item.comments = []
        },
        addComment(object) {
            const { obj } = object
            this.item.comments.push(obj)
        },
        setComplete(i) {
            this.items[i.index].isReady ? this.items[i.index].isReady = false : this.items[i.index].isReady = true
        },
        toggleComment(i) {
            this.items[i.index].isOpenComment ? this.items[i.index].isOpenComment = false : this.items[i.index].isOpenComment = true
        },

        // need update data(remove, new comments, isReady)

        // async submitNote() {
        //     try {
        //         const data = await store.dispatch('request', {
        //             url: this.submitFormData.url, 
        //             method: this.submitFormData.method,
        //             body: {
        //                 description: this.item.description,
        //                 link: this.item.link,
        //                 priority: this.item.priority,
        //                 isReady: this.item.isReady,
        //                 comments: this.item.comments
        //             }
        //         })
        //         console.log(data);
        //     } catch(e) {
        //         console.log(e);
        //     }
        // }
    },
}
</script>

<template>
    <section class="add-note">
        <div class="container">
            <h2 class="add-note__title h2-title">
                Add new note
            </h2>
            <form class="add-note__form">
                <fieldset class="add-note__fields">
                    <label for="link-input" class="add-note__label">
                        <input 
                            id="link-input"
                            v-model="item.link"
                            class="field input-field"
                            type="text" 
                            placeholder="Link to source*"
                        >
                    </label>
                    <label for="description-textarea" class="add-note__label">
                        <textarea 
                            id="description-textarea"
                            v-model="item.description"
                            class="field textarea-field"
                            placeholder="Description*"
                        ></textarea>
                    </label>
                </fieldset>
                <div class="select">
                    <input
                        v-model="item.priority"
                        type="text" 
                        class="field input-field select__field" 
                        placeholder="Choose priority*" 
                        readonly
                        @click="toggleSelect"
                    >
                    <div 
                        :class="{ active: isSelectVisible }"
                        class="select__menu"
                    >
                        <ul class="select__list">
                            <li class="select__item" 
                                v-for="(priority, index) in itemPriority" 
                                :key="index"
                                @click="setSelectValue"
                            >
                                {{ priority }}
                            </li>
                        </ul>
                    </div>
                </div>
                <button 
                    class="btn add-note__btn"
                    @click.prevent="setItemValue"
                    @keypress.enter="setItemValue"
                > Add
                </button>
            </form>
            <ul class="list">
                <AppListItem 
                    v-for="(item, index) in items" 
                    :key="index"
                    :item="item"
                    :index="index"
                    @btnRemoveClick="removeListItem"
                    @btnCompleteClick="setComplete"
                    @btnCommentClick="toggleComment"
                    @addComment="addComment"
                />
            </ul>
        </div>
    </section>
</template>