<script>

export default {
    name: 'AppListItemComment',
    props: {
        comments: Array,
    },
}

</script>

<template>
    <li 
        v-for="(comment, index) in comments" 
        :key="index"
        class="comments__item" 
    >
        <p class="comments__name">
            {{ comment.name }}:
        </p>
        <p class="comments__text">
            {{ comment.text }}
        </p>
    </li>
</template>