<script>

import removeIcon from '@/assets/images/remove.svg'
import commentIcon from '@/assets/images/comment.svg'
import completeIcon from '@/assets/images/complete.svg'
import '@/assets/styles/components/list-item.scss'
import AppListItemComment from '@/components/AppListItemComment.vue'
import { mapGetters } from 'vuex'

export default {
    name: 'AppListItem',
    components: {
        AppListItemComment,
    },
    props: {
        item: Object,
        index: Number,
    },
    data() {
        return {
            icons: {
                removeIcon,
                commentIcon,
                completeIcon,
            },
            commentItem: {
                name: '',
                text: ''
            },
        }
    },
    computed: {
        ...mapGetters(['getUserName'])
    },
    methods: {
        getRemoveIndex(i) {
            this.$emit('btnRemoveClick', {
                index: i
            })
        },
        getCompleteIndex(i) {
            this.$emit('btnCompleteClick', {
                index: i
            })
        },
        getCommentIndex(i) {
            this.$emit('btnCommentClick', {
                index: i
            })
            console.log(this.item.timeOfCreation);
        },
        setComment() {
            if (this.commentItem.text.length) {
                this.commentItem.name = this.getUserName
                const obj = Object.assign({}, this.commentItem)
                this.$emit('addComment', {
                    obj
                })
                this.commentItem.text = ''
            }
        },
    }
}

</script>

<template>
    <li class="list__item item"
        :class="[ { 'completed' : item.isReady }, item.priority]"
    >
        <div class="item__card">
            <time class="item__time">
                {{ item.timeOfCreation }}
            </time>
            <div class="item__info">
                <a 
                    class="item__link" 
                    :href="item.link">
                    {{ item.link }}
                </a>
                <p class="item__description">
                    {{ item.description }}
                </p>
            </div>
            <div 
                class="item__tools" 
                v-if="!item.isReady" 
                >
                <button 
                    type="button" 
                    class="btn item__btn"
                    @click="getCommentIndex(index)"
                >
                    <img :src="icons.commentIcon" alt="">
                    <span 
                        v-if="item.comments.length"
                        class="comment-count"
                        > 
                        {{ item.comments.length }} 
                    </span>
                </button>
                <button 
                    type="button" 
                    class="btn item__btn"
                    @click="getRemoveIndex(index)"
                >
                    <img :src="icons.removeIcon" alt="">
                </button>
                <button 
                    type="button" 
                    class="btn item__btn"
                    @click="getCompleteIndex(index)"
                >
                    <img :src="icons.completeIcon" alt="">
                </button>
            </div>
            <div 
                v-if="item.isReady"
                class="item__completed" 
            >
                <p class="item__completed-text">
                    this section is done
                </p>
                <button 
                    type="button" 
                    class="btn item__btn"
                    @click="getCompleteIndex(index)"
                >
                    <img :src="icons.completeIcon" alt="">
                </button>
            </div>
        </div>
        <div 
            v-if="item.isOpenComment && !item.isReady"
            class="item__comments comments" 
            >
            <ul class="comments__list">
                <AppListItemComment 
                    :comments="item.comments"
                />
            </ul>
            <form class="comments__field">
                <textarea 
                    v-model="this.commentItem.text"
                    class="comments__textarea field textarea-field" 
                    placeholder="Your comment"
                >
                </textarea>
                <button 
                    type="submit" 
                    class="btn"
                    @click.prevent="this.setComment"
                >
                    Send
                </button>
            </form>
        </div>
    </li>
</template>