<script>

import '@/assets/styles/components/header.scss'
import store from '@/store'
import { mapGetters, mapActions } from 'vuex'

export default {
    name: 'AppNav',
    data() {
        return {
            menuItems: [
                {
                    name: 'html'
                },
                {
                    name: 'css'
                },
                {
                    name: 'js'
                },
                {
                    name: 'other'
                },
            ],
        }
    },
    computed: {
        ...mapGetters(['getUserName', 'getUserId']),
        ...mapActions(['logout'])
    },
    methods: {
        logoutFunc() {
            store.dispatch('logout')
            this.$router.push({ name: 'auth' })
        }
    }
}

</script>

<template>
    <header 
        v-if="this.getUserId"
        class="header" 
    >
        <div class="container">
            <div class="header__wrap">
                <a href="/" class="header__logo">
                    <img 
                        width="50" 
                        height="50" 
                        src="@/assets/images/logo.svg" 
                        alt="my logo" 
                        loading="lazy">
                </a>
                <nav class="header__menu menu">
                    <ul class="menu__list">
                        <li 
                            v-for="item in menuItems" 
                            :key="item" class="menu__item">
                            <a 
                                :href="'/' + item.name"
                            >
                                {{ item.name }}
                            </a>
                        </li>
                    </ul>
                </nav>
                <p class="header__name">
                    login : {{ this.getUserName }}
                </p>
                <button 
                    type="button" 
                    class="header__registration btn btn_singUp"
                    @click="this.logoutFunc"
                >
                    logout
                </button>
            </div>
        </div>
    </header>
</template>