<script>

import '@/assets/styles/components/page-list.scss'
import htmlImage from '@/assets/images/html-icon.svg'
import cssImage from '@/assets/images/css-icon.svg'
import jsImage from '@/assets/images/js-icon.svg'
import otherImage from '@/assets/images/other-icon.svg'

export default {
    name: 'PageList',
    data() {
        return {
            pages: [
                {
                    link: '/html',
                    img: htmlImage,
                    title: 'html',
                },
                {
                    link: '/css',
                    img: cssImage,
                    title: 'css',
                },
                {
                    link: '/js',
                    img: jsImage,
                    title: 'js',
                },
                {
                    link: '/other',
                    img: otherImage,
                    title: 'Other resources',
                },
            ]
        }
    }
}

</script>

<template>
    <section class="page-list">
        <div class="container">
            <h2 class="page-list__title h2-title">
                Now all pages are here
            </h2>
            <ul class="page-list__container">
                <li 
                    v-for="(page, index) in pages" 
                    :key="index"
                    class="page-list__item" 
                >
                    <a 
                        :href="page.link">
                        <img 
                            width="150" 
                            height="150" 
                            class="page-list__img" 
                            :src="page.img" 
                            loading="lazy" 
                            alt="">
                        <h3 class="page-list__subtitle h3-title">
                            {{ page.title }}
                        </h3>
                    </a>
                </li>
            </ul>
        </div>
    </section>
</template>