.entry {
    padding: 60px 0;
    &__form {
        margin: 0 auto;
        width: clamp(50%, 600px, 100%);
    }
    &__fieldset {
        margin-bottom: 30px;
    }
    &__label {
        display: block;
        line-height: 1.5;
        text-transform: uppercase;
        &:not(:last-child) {
            margin-bottom: 30px;
        }
    }
}
.btn_signUp {
    margin-right: 20px;
}
.btn_signIn {
    background-color: var(--btn-reg-color);
}
.btn_signUp, .btn_signIn {
    display: inline-block;
}

.message {
    position: fixed;
    top: 10%;
    left: 50%;
    display: block;
    border: 1px solid var(--text-color);
    border-radius: 5px;
    width: 450px;
    height: auto;
    padding: 30px;
    background-color: var(--intro-bg-color);
    transform: translateX(-50%);
    &__text {
        margin-bottom: 20px;
        font-weight: 500;
        letter-spacing: 0.07em;
        text-transform: uppercase;
        text-align: center;
    }
    &__btn {
        display: block;
        border-radius: 2px;
        padding: 10px 40px;
        margin: 0 auto;
        font-weight: 700;
        background-color: var(--low-priority-color);
        text-transform: uppercase;
        
    }
}