.header {
    padding: 20px 0;
    &__logo {
        margin-right: 45px;
        max-width: 50px;
    }
    &__wrap {
        display: flex;
        align-items: center;
    }
    &__name {
        margin-left: auto;
        margin-right: 30px;
        font-size: 1.4rem;
        font-weight: 500;
        text-transform: uppercase;
    }
}
.menu {
    &__list {
        display: flex;
        align-items: center;
    }
    &__item {
        font-size: 1.8rem;
        font-weight: 500;
        text-transform: uppercase;
        &:not(:last-child) {
            margin-right: 25px;
        }
        & :where(a) {
            font-size: inherit;
            font-weight: inherit;
        }
    }
}