.intro {
    padding: 60px 0;
    background-color: var(--intro-bg-color);
    &__img {
        display: block;
        margin: 0 auto 45px auto;
        width: 50px;
        height: 50px;
    }
    &__title {
        margin-bottom: 30px;
        font-size: 3.5rem;
        text-align: center;
    }
    &__description {
        font-size: 2rem;
        text-align: center;
    }
}