.list {
    padding: 60px 0;
    margin: 0 auto;
    width: clamp(500px, 100%, 50%);
}
.item {
    &__card {
        position: relative;
        display: flex;
        border-radius: 3px;
        padding: 15px 130px 15px 15px;
        overflow: hidden;
    }
    &:where(.high) :where(.item__card) {
        background-color: var(--high-priority-color);
    }
    &:where(.middle) :where(.item__card) {
        background-color: var(--middle-priority-color);
    }
    &:where(.low) :where(.item__card) {
        background-color: var(--low-priority-color);
    }
    &:not(:last-child) {
        margin-bottom: 25px;
    }
    &__time {
        position: absolute;
        right: 20px;
        font-weight: 500;
    }
    &__info {
        width: 100%;
    }
    &__link {
        display: block;
        margin-bottom: 15px;
        font-size: 1.8rem;
        font-weight: 500;
    }
    &__tools {
        position: absolute;
        bottom: 15px;
        right: 15px;
        display: flex;
    }
    &__btn {
        padding: 0;
        background-color: transparent;
        width: 25px;
        height: 25px;
        &:not(:last-child) {
            margin-right: 10px;
        }
    }
    &__completed {
        position: absolute;
        top: 0;
        left: 0;
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 15px;
        width: 100%;
        height: 100%;
        background-color: rgba(255, 255, 255, .5);
        z-index: 1;
        &-text {
            margin-left: auto;
            margin-right: auto;
            font-size: 2rem;
            font-weight: 500;
            text-transform: uppercase;
        }
    }
}
.comments {
    padding-top: 15px;
    &__textarea {
        margin-bottom: 15px;
    }
    &__list {
        margin-bottom: 10px;
    }
    &__item {
        display: flex;
        border-radius: 2px;
        padding: 10px;
        background-color: var(--intro-bg-color);
        &:not(:last-child) {
            margin-bottom: 10px;
        }
    }
    &__name {
        margin-right: 15px;
        font-weight: 500;
    }
    &__text {
        word-break: break-all;
    }
}

.comment-count {
    font-weight: 500;
}