.add-note {
    padding: 60px 0;
    &__title {
        margin-bottom: 25px;
        text-align: center;
    }
    &__form {
        margin: 0 auto;
        width: clamp(500px, 100%, 50%);
    }
    &__fields {
        margin-bottom: 20px;
    }
    &__label {
        display: block;
        &:not(:last-child) {
            margin-bottom: 20px;
        }
    }
}
.select {
    position: relative;
    margin-bottom: 25px;
    &__menu {
        position: absolute;
        display: none;
        width: 100%;
        z-index: 1;
        &:where(.active) {
            display: block;
        }
    }
    &__field {
        cursor: pointer;
        outline: none;
        text-transform: capitalize;
    }
    &__item {
        border: 1px solid var(--input-border-color);
        border-top: none;
        padding: 10px 20px;
        background-color: var(--theme-color-2);
        transition: .3s background-color linear;
        cursor: pointer;
        &:hover {
            background-color: var(--intro-bg-color);
        }
    }
}