.page-list {
    padding: 60px 0;
    &__title {
        margin-bottom: 25px;
        text-align: center;
    }
    &__container {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        gap: 30px;
    }
    &__item {
        border-radius: 3px;
        padding: 20px;
        background-color: var(--theme-color-2);
    }
    &__img {
        margin: 0 auto 20px auto;
        max-width: 150px;
    }
    &__subtitle {
        text-align: center;
    }
}